html,body
{
    padding: 0;
    margin: 0;
    height: 100%;
}

*
{
    font-family: "Helvetice Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    letter-spacing: 1px;
}

body
{
    background-color: #333333;
    font-size: 14px;
    min-width: 720px;
}

#nowPlayingBarContainer
{
    width: 100%;
    background-color: #282828;
    bottom: 0;
    position: fixed;
    min-width: 620px;
}

#nowPlayingBar
{
    height: 90px;
    padding: 16px;
    display: flex;
    box-sizing: border-box;
}

#nowPlayingLeft, #nowPlayingRight
{
    width: 30%;
    min-width: 180px;
}

#nowPlayingRight
{
    position: relative;
    margin-top: 16px;
}

#nowPlayingCenter
{
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nowPlayingBar .content
{
    width: 100%;
    height: 57px;
}

.playerControls .buttons
{
    margin: 0 auto;
    display: table;
}

.controlButtons
{
    background-color: transparent;
    border: none;
    vertical-align: middle;
}

.controlButtons img
{
    width:20px;
    height:20px;
}

.controlButtons.play img,
.controlButtons.pause img
{
    height: 30px;
    width: 30px;
}

.controlButtons:hover
{
    cursor: pointer;
}

.progressTime {
	color: #a0a0a0;
    font-size: 11px;
    min-width: 40px;
    text-align: center;
}

.playbackBar
{
    display: flex;
}

.progressBar
{
    width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;
}

.progressBarBg
{
    background-color: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.progress
{
    background-color: #a0a0a0;
    height: 4px;
    width: 0;
    border-radius: 2px;
}

.playbackBar .progressBar
{
    margin-top: 3px;
}

#nowPlayingLeft .albumArtwork
{
    height: 100%;
    max-width: 57px;
    margin-right: 15px;
    float: left;
    background-size: cover;
}

.trackInfo
{
    display: table;
}

#nowPlayingLeft .trackInfo .trackName
{
    margin: 6px 0;
    display: inline-block;
    width: 100%;
}

#nowPlayingLeft .trackInfo .artistName
{
    font-size: 12px;
    color: #a0a0a0;
}

.volumeBar
{
    width: 180px;
    position: absolute;
    right: 0;
}

.volumeBar .progressBar
{
    width: 125px;
}

#topContainer
{
    min-height: 100%;
    width: 100%;
}

#navBarcontainer
{
    background-color: #000000;
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.navBar
{
    flex-direction: column;
    height: 90px;
    padding: 25px;
    -ms-flex-direction: column;
}

.profilepic img
{
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.username
{
    padding:5px 5px;
    margin-left: auto;
    margin-right: auto;
}

.navBar .group
{
    border-top: 1px solid #a0a0a0;
    padding: 10px 0;
}

.navItem
{
    padding: 7px 0;
    font-size: 16px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
    position: relative;
}

.navBar .profile
{
    padding: 12px;
    font-size: 16px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
    text-align: center;
}

.navItemLink, .profile
{
    color: #bdbdbd;
    text-decoration: none;
}

.navItem .icon
{
    position: absolute;
    right: 0;
    top: 3px;
    width: 25px;
}

.navItemLink:hover, .profile:hover
{
    color: #ffffff;
}

#mainViewContainer
{
    margin-left: 220px;
    padding-bottom: 90px;
    width: calc(100% - 220px);
}

#mainContent
{
    padding: 0 20px;
}

.pageHeadingBig
{
    padding: 20px;
    text-align: center;
}

.gridViewItem
{
    display:inline-block;
    margin-right: 20px;
    width:29%;
    max-width: 200px;
    min-width: 150px;
    margin-bottom: 20px;
}

.gridViewItem img
{
    width:100%;
}

.gridViewItem a
{
    text-decoration: none;
}

.gridViewInfo
{
    font-weight: 300;
    text-align: center;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.entityInfo
{
    padding: 40px 0 10px 0px;
    display: inline-block;
    width: 100%;
}

.entityInfo .leftSection
{
    width: 30%;
    float: left;
    max-width: 250px;
}

.entityInfo .leftSection img
{
    width: 100%;
}

.entityInfo .rightSection
{
    width: 70%;
    float: left;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
}

.entityInfo .rightSection p
{
    color: #a0a0a0;
    font-weight: 200;
}

.entityInfo .rightSection h2
{
    margin-top: 0px;
}

.tracklist
{
    padding: 0;
}

.tracklistRow
{
    height: 40px;
    padding: 15px 10px;
    list-style: none;
}

.tracklistRow span
{
    color: #bdbdbd;
    font-weight: 200;
}

.tracklistRow:hover
{
    background-color: #525252;
}

.tracklistRow .trackCount
{
    width: 8%;
    float: left;
}

.tracklistRow .trackCount img
{
    width: 20px;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}

.tracklistRow:hover .trackCount img
{
    visibility: visible;
}

.tracklistRow .trackCount span
{
    visibility: visible;
}

.tracklistRow:hover .trackCount span
{
    visibility: hidden;
}

.tracklistRow .trackInfo
{
    width: 75%;
    float: left;
}

.tracklistRow .trackInfo span
{
    display: block;
}

.tracklistRow .trackOption,
.tracklistRow .trackLike,
.tracklistRow .trackDislike
{
    width: 3%;
    float: left;
    text-align: left;
}

.tracklistRow .trackOption img,
.tracklistRow .trackLike img,
.tracklistRow .trackDislike img
{
    width: 15px;
    visibility: hidden;
}

.tracklistRow:hover .trackOption img,
.tracklistRow:hover .trackLike img,
.tracklistRow:hover .trackDislike img
{
    visibility: visible;
    cursor: pointer;
}

.tracklistRow .trackDuration
{
    width: 12%;
    float: left;
    text-align: right;
}

.tracklistRow .trackInfo .trackName
{
    color: #ffffff;
    margin-bottom: 7px;
}

.artistInfo
{
    text-align: center;
}

.button, .fileButton
{
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 500;
    background-color: transparent;
    letter-spacing: 2px;
    border: 2px solid #ffffff;
    border-radius: 500px;
    padding: 15px;
    min-width: 130px;
}

.button:hover
{
    background-color: #1ea1d6;
}

.button.blue
{
    border: 2px solid #1ea1d6;
    background-color: #1ea1d6;
}

.borderBottom
{
    border-bottom: 1px solid #939393;
    margin: 20px;
}

.tracklistContainer h2,
.gridViewContainer h2
{
    text-align: center;
}

[role="link"]
{
    cursor: pointer;
}

.searchContainer
{
    padding: 20px 28px;
    background-color: #525252;
}

.searchContaiher h4
{
    margin: 0;
    font-weight: 300;
}

.searchContainer .searchInput
{
    width: 100%;
    background: transparent;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2px;
}

input:focus
{
    outline: none;
}

.searchResultRow
{
    padding: 15px 10px;
}

.searchResultRow:hover
{
    background:#525252;
    cursor: pointer;
}

.searchResultRow .artistName span
{
    color: #ffffff;
}

.noResult
{
    margin: 15px;
    display: block;
}

.buttonItems .button
{
    display: block;
    margin: 0 auto 20px auto;
}

.playlistContainer
{
    padding: 10px 0;
}

.playlistImage
{
    padding: 10px;
    border: 3px solid #525252;
}

.optionsMenu
{   
    position: fixed;
    background-color: #242424;
    width: 200px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 3px;
    z-index: 1000;
    display: none;
}

.optionsMenu .item
{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    font-weight: 400;
    color: rgba(147,147,147,0.8);
    cursor: pointer;
    height: 40px;
    font-size: 14px;
    background-color: #282828;
}

.optionsMenu .item:hover
{
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
    cursor: pointer;
}

.trackOption .optionButton:hover
{
    cursor: pointer;
}

.optionsMenu select
{
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.userInfo h1
{
    text-align: center;
}

.userDetails, .artistDetails, .addAlbum
{
    padding: 20px;
}

.userDetails .containera
{
    padding: 20px;
}

.userDetails h2,
.artistDetails h2,
.addAlbum h3,
.addAlbum h1,
.addSong h1,
.addSong h3
{
    text-align: center;
}

.userDetails .container input[type="text"],
.userDetails .containera input[type="password"],
.userDetails .container button,
.userDetails .containera button,
.artistDetails .container button,
.addAlbum input[type="submit"],
.addSong input[type="submit"]
{
    display: block;
    margin: 16px auto;
}

.userDetails .container input[type="text"],
.userDetails .containera input[type="password"],
.monetizationContainer .containera input[type="password"]
{
    height: 30px;
    width: 100%;
    background-color: #1f1f1f;
    border: none;
    font-size: 18px;
    font-weight: 300px;
    padding: 0 20px;
}

.userDetails .container .message,
.userDetails .containera .message,
.monetizationContainer .containera .message
{
    color: #1ea1d6;
    font-weight: 300px;
    display: block;
    margin: 15px;
}

.statisticContainer
{
    text-align: center;
    padding: 10px 0;
}
/* .profPict
{
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 500;
    background-color: transparent;
    letter-spacing: 2px;
    border: 2px solid #ffffff;
    border-radius: 500px;
    padding: 15px;
    min-width: 130px;
} */

.addAlbum input[type="text"],
.addSong input[type="text"]
{
    height: 30px;
    width: 50%;
    background-color: #1f1f1f;
    border: none;
    font-size: 18px;
    font-weight: 300px;
    padding: 0 20px;
    margin-left: 255px;
}

.addAlbum input[type="file"],
.addSong input[type="file"]
{
    height: 30px;
    width: 50%;
    background-color: #1f1f1f;
    border: none;
    font-size: 14px;
    font-weight: 300px;
    padding: 0 20px;
    margin-left: 255px;
}

.addAlbum .albumGenre,
.addSong .songAlbum
{
    text-align: center;
}

table
{
    width: 100%;
}

table, th, td
{
    border: 1px solid #525252;
    border-collapse: collapse;
    padding: 10px;
}

.fileUpload, .monetizationContainer
{
    text-align: center;
}

.fileUpload .fileButton
{
    padding: 0px;
    min-width: 120px;
    height: 30px;
    border-radius: 8px;
}

.monetizationContainer .containera .button
{
    margin-top: 15px;
}